



  body {
    height: 100%;
    width: 100%;
    background: #eee;
    font-family: 'Chalkboard SE', sans-serif; }



    h1{
      color: red;
    }
  
    hr {
      border: 0;
      clear:both;
      display:block;
      width: 5%;               
      background-color:gray;
      height: 3px;
    }
  .demo {
    width: 100%;
    height: 100%; }
  
  .penName {
    text-align: center;
    font-size: 36px; }

    #deals_heading{
      text-align: left;
      color: white;
      padding-top: 5%;
      padding-left: 5%;
    }
    #lists_heading{
      text-align: left;
      color: white;
      padding-left: 5%;
    }
  
  .mainCard {
    text-align: center;
    display: block;
    margin: 60px auto;
    background-color: white;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
    width: 98%;
    height: 60%;
    animation-name: mainCard;
    animation-duration: 1s;
    animation-delay: 0s;
    
    animation-fill-mode: both; }
  
  @keyframes mainCard {
    0% {
      transform: scale(0); } }
  
  .mainCardHeader {
    background-color: AQUAMARINE;
    height: 100px;
    width: 100%;
    animation-name: mainCardHeader;
    animation-duration: 0.4s;
    animation-delay: 0.5s;
    animation-fill-mode: both; }
  
  @keyframes mainCardHeader {
    0% {
      transform: scaleY(0); } }
  
  .mainCardContent {
    margin: 0 auto;
    background-image: url("https://i.pinimg.com/originals/b1/8b/68/b18b686120bc51a9c8e81eb653dd33c6.jpg");
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    text-align: center;
    position: left;
    

    top: -50px;
    height: 100%;
    width: 100%; }
  
  .miniCard {
    display: inline-block;
    padding: 5px;
    margin-bottom: 50px;
    margin: 1% 1%;
    margin-left: 2%;
    background-color: white;
    height: 35%;
    float: left;
    width: 11%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation-name: miniCard;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: both; }

    .services_card {
      display: inline-block;
      padding: 5px;
      margin-bottom: 50px;
      margin: 1% 1%;
      margin-left: 2%;
      background-color: white;
      height: 30%;
      float: left;
      width: 11%;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      animation-name: miniCard;
      animation-duration: 1s;
      animation-delay: 0.8s;
      animation-fill-mode: both; }
  
  @keyframes miniCard {
    0% {
      transform: scale(0); }
    50% {
      transform: scale(1.05); }
    100% {
      transform: scale(1); } }


      .column {
        width: 25%;
        align-items: center;
        justify-content: center;
        display: inline-block;
        padding:20px 0.5%;
      }
      
      /* Remove extra left and right margins, due to padding */
      .row1 {
        
        align-content: center;
        justify-content: center;
        display: inline;
        margin-left: 14.5%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive columns */
      @media screen and (max-width: 710px) {
        .column {
          width: 100%;
          height: 100%;
          display: inline;
          padding:10px 10px;
          margin-bottom: 10px;
        }
        .card
        {
          height: 35%;
          
        }
        .mainCard {
          text-align: center;
          display: block;
          margin: 60px auto;
          background-color: white;
          box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
          width: 98%;
          height: 75%;
          animation-name: mainCard;
          animation-duration: 1s;
          animation-delay: 0s;
          
          animation-fill-mode: both; }
        .miniCard {
          display: inline-block;
          padding: 5px;
          margin-bottom: 50px;
          margin: 1% 1%;
          margin-left: 2%;
          background-color: white;
          height: 25%;
          float: left;
          width: 25%;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          animation-name: miniCard;
          animation-duration: 1s;
          animation-delay: 0.8s;
          animation-fill-mode: both; }
      }

      @media screen and (max-width:780px) {
        .card
        {
          height: 35%;
          
        }
        .mainCard {
          text-align: center;
          display: block;
          margin: 60px auto;
          background-color: white;
          box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
          width: 98%;
          height: 75%;
          animation-name: mainCard;
          animation-duration: 1s;
          animation-delay: 0s;
          
          animation-fill-mode: both; }
        .miniCard {
          display: inline-block;
          padding: 5px;
          margin-bottom: 50px;
          margin: 1% 1%;
          margin-left: 2%;
          background-color: white;
          height: 25%;
          float: left;
          width: 25%;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          animation-name: miniCard;
          animation-duration: 1s;
          animation-delay: 0.8s;
          animation-fill-mode: both; }
      }
      
      /* Style the counter cards */
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        
      align-items: center;
      justify-content: center;
        /* margin-left: 40%; */
        height: 35%;
        text-align: center;
        background-color: #f1f1f1;
      }
      